
.card{
    text-align: center;
    width: 12rem;
    border-color: aqua;
    height: 200px;
    padding-top: 10px;
    margin-left: 10px;
    box-shadow: 5px 5px 3px rgb(93, 255, 255);
}
.col{
    margin-left: -10px;
    
}
.row{
    float: left;
    
}